body {
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.bg-body {
    background-color: #f4f4f4;
}


/* aside bar starts */

.asider-bar {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.dashboard-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.burger-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.search-icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
}


/* aside bar end */


/* Content starts */

.main-title {
    line-height: 1.1;
    letter-spacing: 1.54px;
    text-align: left;
    color: #000;
    z-index: 1;
}

.w-35 {
    width: 35%;
}


/* Content End */


/* cards starts */

.card-column {
    width: 22.13rem;
    height: 12.3rem;
    margin: 0 11px 0 0;
    padding: 0 0 20.4px 35px;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px 3px #74565624;
}

.card-column1 {
    width: 22.13rem;
    height: 12.3rem;
    margin: 0 11px 0 0;
    padding: 0 0 20.4px 35px;
    -webkit-backdrop-filter: blur(47.4px);
    backdrop-filter: blur(47.4px);
    background-color: transparent;
    box-shadow: 3px 3px 3px 3px #74565624;
}

.card-column p {
    color: #000;
}

.card-name-title {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: 0.93px;
    text-align: left;
    color: #1e1e1e;
}

.card-name-subtitle {
    font-family: Poppins;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.3px;
    text-align: left;
    color: #3f3d56;
}

.card-description {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #3f3d56;
}

.card-checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.card-check input[type=checkbox] {
    width: 28.8px;
    height: 22.8px;
    border: solid 2px #33ff03;
}

.card-check input[type=checkbox]:checked {
    background-color: #33ff03;
    border: 2px solid #33ff03;
    color: #000;
}

.down-arrow {
    border: 3px solid #ffff;
    padding: 10px;
    color: #fe0313;
    border-radius: 62px;
    font-size: 15px;
}


/* cards ends */

.level-title {
    font-family: Poppins;
    font-size: 39px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 1.5px;
    text-align: center;
    color: #000;
}

.level-subtitle-block {
    display: flex;
    justify-content: center;
}

.level-subtitle {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.3px;
    text-align: center;
    color: #3f3d56;
}

.w-60 {
    width: 60%;
}

.film-btn {
    display: flex;
    justify-content: center;
}

.btn-film {
    width: 128px;
    height: 31px;
    padding: 7px 28px;
    border: solid 1px #9d1d27;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.match-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: red;
    border-radius: 50%;
    color: #ffffff;
    flex-wrap: nowrap;
    align-content: center;
    width: 156px;
    height: 150px;
    font-size: 25px;
    font-weight: bold;
}

.match-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.match-card-height {
    height: 680px;
}


/* Stepper progress bar */

.w-100 {
    width: 100%;
}

.progress-bar {
    display: flex;
    margin: 40px 0;
    user-select: none;
}

.progress-bar .step {
    text-align: center;
    width: 100%;
    position: relative;
}

.progress-bar .step p {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
}

.progress-bar .step .bullet {
    height: 12px;
    width: 12px;
    content: "/f111";
    background-color: #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    line-height: 25px;
}

.progress-bar .step .active {
    height: 12px;
    width: 12px;
    content: "/f111";
    background-color: #fe0313 !important;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    line-height: 25px;
}

.progress-bar .step .percentage-active {
    height: 30px;
    width: 30px;
    background-color: #fe0313;
    transform: rotate(45deg)!important;
    border-radius: 6px;
    display: inline-block;
    position: relative;
    line-height: 25px;
}

.progress-bar .step .percentage-tile::before,
.progress-bar .step .percentage-tile::after {
    position: absolute;
    content: "";
    bottom: 70px;
    right: -113px;
    height: 1px;
    width: 210px;
    background: #ffffff !important;
}

.progress-bar--percentile {
    color: #ffffff;
    font-size: 10px;
}

.progress-bar .step .bullet span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
    display: none;
}

.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
    position: absolute;
    content: "";
    bottom: 6px;
    background: #262626;
    right: -218px;
    height: 1px;
    width: 210px;
}

.progress-bar .step .bullet.active:after {
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}

.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
    display: none;
}

.progress-bar .step p.active {
    transition: 0.2s linear;
}

.progress-bar .step .check {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}

.progress-bar .step .check.active {
    display: block;
    color: #fff;
}


/* play hr */

.play-hr hr {
    flex: 1;
    border: none;
    height: 2px;
    background: black;
}


/* bottom cards */

.bottom-cards-columns {
    width: 22.4rem;
    height: 20.3rem;
    background-color: #ffffff;
    margin: 10px;
    text-align: center;
    padding: 37px 40px;
}

.bottom-cards-double-columns {
    height: 15.3rem;
    width: 45.5rem;
    background-color: #ffffff;
    margin: 10px;
    text-align: center;
}

.card-icon {
    position: relative;
    top: -83px;
    left: 25px;
}


/* Background circle */

.circle {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background-image: linear-gradient(187deg, #ff8802 95%, #f4ff76 -47%);
    position: Relative;
    left: 54%;
    top: -215px;
}

.circle1 {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: #A271FF;
    position: relative;
    left: 58%;
    top: -744px;
}

.circle2 {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-image: linear-gradient(185deg, #ff5b12 96%, #ffe576 -4%);
    position: relative;
    left: 62%;
    top: -1166px;
}

.ball {
    /* height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: radial-gradient(circle, #dda0dd, #ffffff); */
    position: absolute;
    left: 39%;
    top: 610px;
    animation-name: movingball;
    animation-iteration-count: infinite;
}


/* @keyframes movingball {
    0% {
        transform: translateX(0px) translateY(-300px);
    }
    25% {
        transform: translateX(-300px) translateY(0px);
    }
    50% {
        transform: translateX(0) translateY(-300px);
    }
    75% {
        transform: translateX(300px) translateY(0px);
    }
    100% {
        transform: translateX(0) translateY(-300px);
    }
} */